/********** Backgrounds **********/
.bg-gradient-dark-purple{
  background: radial-gradient(circle, rgba(67,0,102,1) 0%, rgba(0,0,0,1) 75%);
}

.bg-big-gradient-dark-purple{
  background: radial-gradient(circle, rgba(31,0,75,1) 30%, rgba(0,0,0,1) 100%);
}



/********** Text-color and/or decoration, style **********/
.alex{
  font-family: 'Alex Brush';
}



/********** Logo site **********/
#logo-site{
  width: 150px;
}

/*Déjà là*/
body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS to deal with constraint validation styles */
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}
